:root {
    /* ================================================== */
    /* */
    /* Spacings */
    --space-0: 0px;
    --space-px: 1px;
    --space-1: 2px;
    --space-2: 4px;
    --space-3: 6px;
    --space-4: 8px;
    --space-5: 10px;
    --space-6: 12px;
    --space-7: 14px;
    --space-8: 16px;
    --space-9: 18px;
    --space-10: 20px;
    --space-11: 24px;
    --space-12: 32px;
    --space-13: 40px;
    --space-14: 48px;
    --space-15: 56px;
    --space-16: 64px;
    --space-17: 80px;
    --space-18: 96px;
    --space-19: 128px;
    --space-20: 256px;
    --space-21: 512px;

    /* ================================================== */
    /* */
    /* Gaps */
    --gap-l: var(--space-18);
    --gap-m: clamp(3rem, 2.6226rem + 1.8868vw, 3.5rem);
    --gap-s: var(--space-12);
    --gap-xs: var(--space-11);
    --col-gap: var(--space-6);
}

@media (width >= 744px) {
    :root {
        --gap-l: var(--space-19);
        --gap-m: clamp(3.5rem, 2.6842rem + 1.7544vw, 4rem);
        --col-gap: var(--space-11);
    }
}
